@model WLVSTools.Web.Models.AIFS.ProfessionalPathwaysRegistration

@{
    ViewBag.Title = "AIFS - Professional Pathways Host Registration";
}

<div class="card card-primary">
    <div class="card-header">
        Parameters
    </div>
    <form action="~/AIFS/ProfessionalPathways/HostRegistration" method="post">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-12 col-md-4">
                    @Html.Label(null, "Type", new { @class = "block" })
                    @Html.DropDownListFor(m => m.Type, Model.TypeList, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Type)
                </div>
                <div class="col-sm-12 col-md-4">
                    @Html.LabelFor(m => m.Country)
                    @Html.DropDownListFor(m => m.Country, Model.CountryList, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
                <div class="col-sm-12 col-md-4">
                    @Html.LabelFor(m => m.State)
                    @Html.DropDownListFor(m => m.State, Model.StateList, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.State)
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    @Html.LabelFor(m => m.Url)
                    @Html.DropDownListFor(m => m.Url, Model.UrlList, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Url)
                </div>
            </div>
            <button type="submit" class="btn btn-primary fa-pull-right">Register</button>
            <a id="lnkGoTo" target="_blank" href="" class="btn btn-primary fa-pull-right mr-3 disabled">Go to URL <i class="fa fa-external-link"></i></a>
        </div>
    </form>
</div>

<div class="card">
    <div class="card-body">
        <pre><code id="resultContainer"></code></pre>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/json_style.css">
}

@section Scripts{
    <script>
        $(function () {
            $("#Country").on("change", function () {
                let selectedCountry = $(this).val();

                if (selectedCountry == "United States") {
                    $("#State").prop("disabled", false);
                } else {
                    $("#State").val("");
                    $("#State").prop("disabled", true);
                }
            });

            $("#Url").on("change", function () {
                let url = $(this).val();
                let lnkGoTo = $("#lnkGoTo");

                if (url != "") {
                    lnkGoTo.prop("href", url);
                    lnkGoTo.removeClass("disabled");
                } else {
                    lnkGoTo.prop("href", "");
                    lnkGoTo.addClass("disabled");
                }
            });

            $("#Country").trigger("change");
            $("#Url").trigger("change");
        });
    </script>

    @if (Model != null && Model.Personalnfo != null)
    {
        <script>
            $(function () {
                var prettyPrint = new PrettyPrint(JSON.parse('@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Personalnfo))'), true);

                $('#resultContainer').html(prettyPrint.print());

                $(".btn-copy").off("click").on("click", function () {
                    let value = $(this).parent().text().replace(/["']/g, "");
                    navigator.clipboard.writeText(value);
                    toastr.success("Copy '" + value + "'", "Successful");
                });
            });
        </script>
    }

}