@model WLVSTools.Web.Models.AIFS.ProfessionalPathways.ParticipatRegistration

@{
    ViewBag.Title = "AIFS - Professional Pathways Participant Registration";
}

<div class="card card-primary">
    <div class="card-header">
        Parameters
    </div>
    <form action="~/AIFS/ProfessionalPathways/ParticipantRegistration" method="post">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-12 col-md-4">
                    @Html.LabelFor(m => m.Country)
                    @Html.DropDownListFor(m => m.Country, Model.CountryList, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    @Html.LabelFor(m => m.Url)
                    @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Url)
                </div>
            </div>
            <button type="submit" class="btn btn-primary fa-pull-right">Register</button>
        </div>
    </form>
</div>

<div class="card">
    <div class="card-body">
        <pre><code id="resultContainer"></code></pre>
    </div>
</div>

@section Styles{
    <style>
        pre {
            background-color: ghostwhite;
            border: 1px solid silver;
            padding: 10px 20px;
            margin: 20px;
        }

        .json-key {
            color: brown;
        }

        .json-value {
            color: navy;
        }

        .json-string {
            color: olive;
        }
    </style>
}

@section Scripts{

    @if (Model != null && Model.Personalnfo != null)
    {
        <script>
    $(function () {
        $('#resultContainer').html(prettyPrint(@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Personalnfo))));

        $(".btn-copy").off("click").on("click", function () {
            let value = $(this).parent().text().replace(/["']/g, "");
            navigator.clipboard.writeText(value);
            toastr.success("Copy '" + value + "'", "Successful");
        });
    });

    function replacer (match, pIndent, pKey, pVal, pEnd) {
        var key = '<span class=json-key>';
        var val = '<span class=json-value>';
        var str = '<span class=json-string>';
        var r = pIndent || '';
        if (pKey)
            r = r + key + pKey.replace(/[": ]/g, '') + '</span>: ';
        if (pVal)
            r = r + (pVal[0] == '"' ? str : val) + pVal + '<button type="button" class="btn-copy btn btn-xs btn-success ml-1"><i class="fas fa-copy"></i></button></span>';
        return r + (pEnd || '');
    }

    function prettyPrint(obj) {
        var jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
        return JSON.stringify(obj, null, 3)
            .replace(/&/g, '&amp;').replace(/\\"/g, '&quot;')
            .replace(/</g, '&lt;').replace(/>/g, '&gt;')
            .replace(jsonLine, replacer);
    }
        </script>
    }

}