@model WLVSTools.Web.Models.AIFS.General.NetworkDirectory

@{
    ViewBag.Title = "AIFS - Network Directory";
}

<div class="card card-primary">
    <div class="card-header">
        Parameters
    </div>
    <form action="~/AIFS/General/NetworkDirectory" method="post">
        @Html.Hidden("IsSubmitted", true)
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-sm-12 col-md-4">
                    @Html.LabelFor(m => m.Path)
                    @Html.TextBoxFor(m => m.Path, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Path)
                </div>
                <div class="col-sm-12 col-md-4">
                    @Html.LabelFor(m => m.Search)
                    @Html.TextBoxFor(m => m.Search, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Search)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <button type="submit" class="btn btn-primary fa-pull-right">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="card">
    <div class="card-body">
        <ul>
            @foreach(var path in Model.DirectoryFiles)
            {
                <li>@path</li>
            }
        </ul>
    </div>
</div>