<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WLVS Tools | @ViewBag.Title</title>

    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/plugins/pace-progress/themes/black/pace-theme-flat-top.css">
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="/ui-framework/admin-lte-3.2.0/css/adminlte.min.css">
    <link rel="stylesheet" href="/css/style.css">

    @RenderSection("Styles", false)
</head>
<body class="hold-transition sidebar-mini layout-fixed pace-primary">
    <!-- Site wrapper -->
    <div class="wrapper">
        <partial name="_NavBar" />
        <partial name="_MainSidebar" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>@ViewBag.Title</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Layout</a></li>
                                <li class="breadcrumb-item active">Fixed Layout</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @Html.ValidationSummary(true)
                    @RenderBody()
                    @if (ViewBag.TotalRuntime != null)
	                {
		                <strong>Total Runtime in Seconds: <em>@ViewBag.TotalRuntime</em></strong>
	                }
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <partial name="_Footer" />
        <partial name="_ControlSidebar" />

    </div>
    <!-- ./wrapper -->

    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/plugins/pace-progress/pace.min.js"></script>
    <script src="/plugins/toastr/toastr.min.js"></script>
    <script src="/ui-framework/admin-lte-3.2.0/js/adminlte.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
