<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WLVS Tools | @ViewBag.Title</title>

    <link rel="stylesheet" href="~/Resources/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Resources/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/Resources/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/Resources/ui-framework/admin-lte-3.2.0/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Resources/css/style.css">

    @RenderSection("Styles", false)
    <script>
        var global_approot = '@WLVSTools.Web.WebInfrastructure.General.Helper.GetWebRoot(Context)';
    </script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <partial name="_NavBar" />
        <partial name="_MainSidebar" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <!-- EMPTY CONTEN_HEADER -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @Html.Raw(Html.CustomRaw(Html.CustomValidationSummary()))
                    @RenderBody()
                    <p id="pTotalRuntime">
                        @if (ViewBag.TotalRuntime != null)
                        {
                            <strong>Total Runtime in Seconds: <em>@ViewBag.TotalRuntime</em></strong>
                        }
                    </p>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <partial name="_Footer" />
        <partial name="_ControlSidebar" />

    </div>
    <!-- ./wrapper -->

    <script src="~/Resources/plugins/jquery/jquery.min.js"></script>
    <script src="~/Resources/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Resources/js/pathConfig.js"></script>
    <script src="~/Resources/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Resources/plugins/toastr/toastr.min.js"></script>
    <script src="~/Resources/plugins/moment/moment.min.js"></script>
    <script src="~/Resources/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/Resources/ui-framework/admin-lte-3.2.0/js/adminlte.min.js"></script>
    <script src="~/Resources/plugins/custom/show-loader/custom-loader.js"></script>
    <script src="~/Resources/js/site.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
